{% extends "layout.html" %}

{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename='css/About.css')}}" media="screen">
<link rel="shortcut icon" href="./../static/icon/icon.svg" />
<title>Modelamiento y Simulacion &#x1f300;</title>
{% endblock %}

{% block content %}

<section class="u-clearfix u-image u-section-1" id="carousel_1bf9" data-image-width="1980" data-image-height="1193">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <h1 style="color:white;">Sitio Web para el aprendizaje de la Asignatura de Modelamiento y Simulación</h1>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}